<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Alumno Colegio
    <small>Actualizar</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol> -->

</section>


<div class="content">

    <div class="mb-5 p-4 bg-white shadow-sm">
      <mat-horizontal-stepper [linear]="true" #stepper class="box box-primary">
      
      
        <mat-step label="Datos Persona" [stepControl]="alumnoColegio.get('alumno').get('persona')">
          <!-- <form [formGroup]="alumnoColegio.get('alumno').get('persona')"> -->
          <form >
            <app-persona [parentForm]="alumnoColegio.get('alumno').get('persona')"></app-persona>
  
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

  
        <mat-step label="Datos Colegio" [stepControl]="alumnoColegio">
        
          <form [formGroup]="alumnoColegio" (submit)="submit(alumnoColegio.getRawValue())">
  
            <app-colegio [parentForm]="alumnoColegio.get('colegio')"></app-colegio>
  
            <div class="form-group">
              <label>NIVEL</label>
              <select class="form-control" formControlName="nivel" (change)="listargrados($event)">
                <option value="">Seleccione un nivel</option>
                <option value="primario">PRIMARIO</option>
                <option value="secundario">SECUNDARIO</option>
              </select>
  
              <div class=" text-danger" *ngIf="alumnoColegio.controls['nivel'].errors?.required">
                Debe seleccionar un nivel
              </div>
            </div>
  
  
            <div class="form-group" >
              <label>GRADO</label>
              <select class="form-control" formControlName="grado">
                <option value="">Seleccione un grado</option>
                <option *ngFor="let grado of grados" value="{{grado}}">{{grado}}</option>
  
              </select>
  
              <div class=" text-danger" *ngIf="alumnoColegio.controls['grado'].errors?.required">
                Debe seleccionar un grado
              </div>
            </div>
  
  
            <div>
              <button mat-button matStepperPrevious>Volver</button>
              
              <button mat-button type="submit" [disabled]="alumnoColegio.invalid || cargando" matStepperNext>Registrar</button>
         
            </div>
          </form>
        </mat-step>
  
  
        <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
  
  
  
      </mat-horizontal-stepper>
  
      <p>
        {{alumnoColegio.invalid}}
      </p>
      <pre>
            {{alumnoColegio.value | json}}
        </pre>
    </div>
  </div>