<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Postulante/Matricula
    <small>Registrar</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol> -->
</section>

<div class="content  shadow-sm">


  <mat-horizontal-stepper class="box box-primary" [linear]="false" #stepper>

    <mat-step label="Datos Persona" [editable]="false" [stepControl]="formPostulanteMatricula.get('persona')">

      <div [formGroup]="formPostulanteMatricula.get('persona')">
        <app-persona [parentForm]="formPostulanteMatricula.get('persona')"
          (alumnoPersonaIfExisteEmmiter)="onDniPersonaExist($event)"></app-persona>
        <div>
          <button mat-button matStepperNext [disabled]="formpersonaValido===false">Siguiente</button>

        </div>
      </div>
    </mat-step>

    <mat-step *ngIf="personaCargadaPorValidador===false" label="Datos Educacion" [editable]="false"
      [stepControl]="formPostulanteMatricula.get('alumnoUniversitario') && formPostulanteMatricula.get('alumnoColegio')">

      <div class="mb-1">
        <mat-radio-group aria-label="Select an option" (change)="seleccionTipoEstudiante($event)">
          <mat-radio-button value="colegio">Colegio</mat-radio-button>
          <mat-radio-button value="universidad">Universidad</mat-radio-button>
        </mat-radio-group>
      </div>





      <app-form-alumno-universitario *ngIf="tipoAlumno==='universidad'"
        [alumnoUniversitario]="formPostulanteMatricula.get('alumnoUniversitario')">
      </app-form-alumno-universitario>

      <app-form-alumno-colegio *ngIf="tipoAlumno==='colegio'"
        [alumnoColegio]="formPostulanteMatricula.get('alumnoColegio')"></app-form-alumno-colegio>

      <button mat-button matStepperPrevious>Volver</button>

      <button mat-button [disabled]="formPostulanteMatricula.invalid || cargando" (click)="goForward(stepper)">Registrar
        y seguir</button>


    </mat-step>

    <mat-step label="Tipo de operacion"
      [stepControl]="formPostulanteMatricula.get('alumnoUniversitario') && formPostulanteMatricula.get('alumnoColegio')">

      <mat-radio-group aria-label="Select an option" (change)="seleccionTipoOperacion($event)">
        <mat-radio-button value="examenUbicacion">ExamenUbicacion</mat-radio-button>
        <mat-radio-button value="matricula">Matricula</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="tipoOperacion=='examenUbicacion'" class="mt-2">
        <form (submit)="registrarPostulacion(formPostulacionExamenUbicacion.value)">


          <div class="row">
            <app-select-ex-ubicacion [parentForm]="formPostulacionExamenUbicacion.get('examenUbicacion')">
            </app-select-ex-ubicacion>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>TIPO DE PAGO</label>
                <app-tipopago [tipospago]="tipospagoExuBicacion"
                  [formTipoPago]="formPostulacionExamenUbicacion.get('detallePago').get('tipoPago')"></app-tipopago>
              </div>
            </div>
          </div>



          <div class="row">
            <app-detallepago [formdetallepago]="formPostulacionExamenUbicacion.get('detallePago')"></app-detallepago>
          </div>


          <button mat-button type="submit" [disabled]="formPostulacionExamenUbicacion.invalid || cargando"
            matStepperNext>Registrar</button>

        </form>
      </div>



      <!-- -------------------------------------- -->


      <div *ngIf="tipoOperacion=='matricula'">

        <form (submit)="registrarMatriculaGrupo(formMatriculaGrupo.value)">

          <app-select-grupo
          [inFromGroup]="formMatriculaGrupo.get('grupo')"

          (modalidadEmmiter)="onModalidadChange($event)"
          (idiomaEmmiter)="onIdiomaChange($event)"
          (OutIdGrupoEmmiter)="onGupoSelected($event)"
          (outNivelIdiomaModalidadEmitter)="onNivelSelected($event)">
          </app-select-grupo>
          <div class="form-group">
            <label>PAGO POR DERECHO DE MATRICULA</label>
            <mat-card>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>TIPO DE PAGO</label>
                    <app-tipopago [tipospago]="tipospagoMatricula"
                      [formTipoPago]="formMatriculaGrupo.get('detallePago').get('tipoPago')"></app-tipopago>
                  </div>
                </div>
              </div>

              <div class="row">
                <app-detallepago [formdetallepago]="formMatriculaGrupo.get('detallePago')"></app-detallepago>
              </div>

            </mat-card>
          </div>


          <div class="form-group">

            <div class="checkbox">
              <label><input type="checkbox" (change)="onPagoCarnentSelected()" /> <b>PAGO DE CARNÉ</b></label>
            </div>

            <mat-card *ngIf="pagarCarne==true">

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>TIPO DE PAGO</label>
                    <app-tipopago [tipospago]="tiposPagoCarnet" [formTipoPago]="formDetPagoCarne.get('tipoPago')">
                    </app-tipopago>
                  </div>
                </div>
              </div>

              <div class="row">
                <app-detallepago [formdetallepago]="formDetPagoCarne"></app-detallepago>
              </div>
            </mat-card>
          </div>
          <!-- || cargando -->
          <button mat-button type="submit" [disabled]="
          (formMatriculaGrupo.invalid && pagarCarne==false)?true:
          (formMatriculaGrupo.invalid && (pagarCarne==true && formDetPagoCarne.invalid))?true:
          (formMatriculaGrupo.valid && (pagarCarne==true && formDetPagoCarne.invalid))?true:
          (formMatriculaGrupo.invalid && (pagarCarne==true && formDetPagoCarne.valid))?true:false"
            matStepperNext>Registrar</button>

        </form>
      </div>



    </mat-step>

  </mat-horizontal-stepper>


  <p>
    esInvalido: {{formPostulanteMatricula.invalid}}
  </p>
  <pre>
              {{formPostulanteMatricula.value | json}}
          </pre>
</div>
