/* .mat-radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  } */
  
  /* .example-radio-button {
    margin: 5px;
   
  } */


  .mat-radio-button {
      margin-right: 20px!important;
  }

  .mat-stepper-horizontal{
    /* background-color: transparent!important; */
  }