<div>
<h1 mat-dialog-title style="margin-bottom: 2px!important; display: flex; justify-content: center;">Cambiar Contraseña </h1>
<span class="mb-2"><b>Usuario :&nbsp; </b>{{data.nombre }}</span> 

<form [formGroup]="formPassword">
<div mat-dialog-content >




      <mat-form-field appearance="fill">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password1">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>


        <div class=" text-danger" *ngIf="formPassword.controls['password1'].errors?.minlength">
            Se requieren {{formPassword.controls['password1'].errors?.minlength.requiredLength}} caracteres   </div>
        
        <div  class=" text-danger mt-1" *ngIf="formPassword.controls['password1'].errors?.required">
            Debe asignar un valor
          </div>
      </mat-form-field>
  


      <br>


      <mat-form-field appearance="fill">
        <mat-label>Confirme Nueva Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password2" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

     
        <div class=" text-danger" *ngIf="formPassword.controls['password2'].errors?.minlength">
            Se requieren {{formPassword.controls['password1'].errors?.minlength.requiredLength}} caracteres   </div>

          <div  class=" text-danger mt-1" *ngIf="formPassword.controls['password2'].errors?.notEquivalent">
            Las Contraseñas no coinciden
          </div>
     
      </mat-form-field>

      <!-- <mat-form-field>
        <input matInput autocomplete="new-password" type="password" formControlName="password2"  placeholder="Confirme Nueva Contraseña">
        <mat-error *ngIf="password2.hasError('required')">Please confirm your password</mat-error>
        <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't match</mat-error>
      </mat-form-field> -->
      <br>
<!--  
{{formPassword.valid}} -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button  [disabled]="formPassword.invalid"  (click)="actualizarUsuario()" cdkFocusInitial>
    <!-- [mat-dialog-close]="data.animal" -->
    Enviar
  </button>
</div>
</form>