  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-dialog-title{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  span{
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .mat-dialog-container{
    max-width: 100%;
    max-height: 100% !important;
    resize: both;
  }