<label class="col-lg-12">INFORMACION DE UNIVERSIDAD</label>
<div class="col-lg-4" >
  <div class="form-group " [formGroup]="formularioPadre.get('facultad').get('universidad')">
    <select class="form-control" formControlName="idUniversidad" (change)="listarFacutladesByUniversidad($event)" required>
      <option value="">Seleccione Universidad</option>
      <option *ngFor="let u of universidades" value="{{u.idUniversidad}}">
        {{u.nombre}}
      </option>
    </select>
    <div class=" text-danger"
      *ngIf="formularioPadre.get('facultad').get('universidad').get('idUniversidad').errors?.required">
      Debe elegir una universidad
    </div>
  
  </div>
</div>

<div class="col-lg-4" [formGroup]="formularioPadre.get('facultad')">
  <div class="form-group ">
    <select class="form-control" (change)="listarEscuelasByFacultad($event)" formControlName="idFacultad">
      <option value="">Selecciones Facultad</option>
      <option *ngFor="let f of facultades" value="{{f.idFacultad}}">{{f.nombre}}
      </option>
    </select>

    <div class=" text-danger" *ngIf="formularioPadre.get('facultad').get('idFacultad').errors?.required">
      Debe elegir una facultad
    </div>
  </div>
</div>



<div class="col-lg-4"  [formGroup]="formularioPadre">
  <div class="form-group ">
    <select name="idEscuela" class="form-control" formControlName="idEscuela">
      <option value="">Seleccione Escuela</option>
      <option *ngFor="let e of escuelas" [ngValue]="e.idEscuela">{{e.nombre}}</option>
    </select>

    <div class=" text-danger" *ngIf="formularioPadre.controls['idEscuela'].errors?.required">
      Debe elegir una escuela
    </div>
  </div>
</div>