  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-dialog-title{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  p{
    text-align: center;
  }
  span{
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .mat-dialog-actions{
    display: flex;
    align-items: center;
    justify-content: center;
  }