<h1 mat-dialog-title style="margin-bottom: 2px!important;">Ya existe una persona con este DNI ! </h1>
<p>Desea utilizar los datos de esta persona?</p>
<form >
<div mat-dialog-content style="width: 500px!important;">

</div>
<div mat-dialog-actions>
  <button mat-button  [mat-dialog-close]="true"   cdkFocusInitial>
    <!-- [mat-dialog-close]="data.animal" -->
    SI
  </button>
  <button mat-button [mat-dialog-close]="false">NO</button>
</div>
</form>