<section class="content-header">
  <h1>
    Registrar
    <small>examen/ubicacion</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>

<div class="content shadow-sm">

  <mat-card class="box box-primary">

  
      <form (submit)="submit(formExamenUbicacion.value)" [formGroup]="formExamenUbicacion">

        

        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="docente">DOCENTE</label>
              <app-autocomplete-docente id="docente" [parentForm]="formExamenUbicacion.get('docente')">
              </app-autocomplete-docente>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
            <div class=" form-group">
              <div class="col">
                <label>IDIOMA</label>
                <app-idioma [idiomas]="idiomas" (emitterIdioma)="onIdiomasSelect($event)"></app-idioma>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class=" form-group">
              <div class="col">
                <label>NIVEL</label>
                <app-nivel [inNiveles]="niveles" (emmiterNivel)="onNivelSelect($event)"></app-nivel>
              </div>
            </div>
          </div>
        </div>

       

        <app-aula [parentform]="formExamenUbicacion.get('aula')"></app-aula>

        <div class="row">

          <div class="col-lg-4">
            <div class=" form-group">

              <label>FECHA</label>
              <input type="date" class="form-control" formControlName="fecha" />

              <div class="text-danger" *ngIf="formExamenUbicacion.controls['fecha'].errors?.required">
                Debe seleccionar una fecha
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label form="horainico">HORA INICIO</label>
              <input id="horafin" type="time" maxlength="8" class="form-control" formControlName="horaInicio" />
              <div class=" text-danger" *ngIf="formExamenUbicacion.controls['horaInicio'].errors?.required">
                Debe seleccionar una hora de inicio
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label form="horafin">HORA FIN</label>
              <input id="horafin" type="time" maxlength="8" class="form-control" formControlName="horaFin" />

              <div class=" text-danger" *ngIf="formExamenUbicacion.controls['horaFin'].errors?.required">
                Debe seleccionar una hora de fin
              </div>
            </div>
          </div>


        </div>
        







        <div class="row">
          <div class="col-lg-2">
            <div class="form-group">
              <button mat-button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
            </div>
          </div>
        </div>
        





      </form>

   
 

  <!-- <button (click)="ex()">ver</button>
      <p>
        esInvalido: {{alumnoUniversidad.invalid}}
      </p>
      <pre>
            {{alumnoUniversidad.value | json}}
        </pre> -->
   <pre>
      {{formExamenUbicacion.value | json}}
  </pre> 

</mat-card>


</div>
