<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de alumnos
    <small>colegio/universidad</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>
<div class="content  shadow-sm">


  <mat-card class="box box-primary">






    <div id="contenedorAzul" class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>
    </div>


    <mat-table [dataSource]="dataSource" matSort>


      <!-- Columna nombre -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
        <mat-cell *matCellDef="let alumno"> {{alumno.nombre | uppercase}} </mat-cell>
      </ng-container>

      <!-- olumna Apellido paterno -->
      <ng-container matColumnDef="apaterno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> A.PATERNO </mat-header-cell>
        <mat-cell *matCellDef="let alumno"> {{alumno.apaterno | uppercase}} </mat-cell>
      </ng-container>

      <!-- Columna Apellido materno -->
      <ng-container matColumnDef="amaterno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> A.MATERNO </mat-header-cell>
        <mat-cell *matCellDef="let alumno"> {{alumno.amaterno | uppercase}} </mat-cell>
      </ng-container>

      <!-- Columna DNI -->
      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
        <mat-cell *matCellDef="let alumno"> {{alumno.dni | uppercase}} </mat-cell>
      </ng-container>

      <!-- Columna Ttpo alumno -->
      <ng-container matColumnDef="tipoAlumno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </mat-header-cell>
        <mat-cell *matCellDef="let alumno"> {{alumno.tipoAlumno | uppercase}} </mat-cell>
      </ng-container>



      <!-- Columna Condicion -->
      <ng-container matColumnDef="condicion">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CONDICION </mat-header-cell>
        <mat-cell *matCellDef="let alumno"> <span *ngIf=" alumno.condicion==null ">-----</span> <span *ngIf="alumno.condicion!=''">{{alumno.condicion | uppercase}} </span> </mat-cell>
      </ng-container>


        <!-- Columna Botones -->
        <ng-container matColumnDef="action"  *ngIf="user.tipoUsuario=='administrativo'" >
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let alumno">

          <button *ngIf="alumno.tipoAlumno=='univfaustiniano' || alumno.tipoAlumno=='univparticular'" mat-icon-button
            color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon laber [routerLink]="['/alumno/editAlUniv/',alumno.idAlumnoUniversitario]">edit</mat-icon>
          </button>

          <button *ngIf="alumno.tipoAlumno=='colegio'" mat-icon-button color="primary"
            aria-label="Example icon-button with a heart icon">

            <mat-icon laber [routerLink]="['/alumno/editAlCol/',alumno.idAlumnoColegio]">edit</mat-icon>
          </button>


          <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">

            <mat-icon>more_horiz</mat-icon>
          </button>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card>
</div>