<div>
    <div fxFlex="600px" fxFlex.xs="100" fxFlexOffset.xs="0" fxFlexOffset="calc(50% - 300px)" fxLayout="column"
      style="padding: 10px;">
  
      <mat-form-field [formGroup]="parentForm">

        <input (keyup)="buscar(a.value)" #a  type="text" placeholder="Alumno" matInput [matAutocomplete]="auto" [formControl]="autoCompleteControl" >
  
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getOptionText" (optionSelected)='eventselect($event.option.value.idAlumno)'>
          <mat-option *ngFor="let item of docenteList| async; let index = index" [value]="item">
            {{item.persona.nombre | titlecase}} {{item.persona.apaterno}} {{item.persona.dni}}
          </mat-option>
        </mat-autocomplete>
  
        <mat-error *ngFor="let validation of validation_msgs.autoCompleteControl">
          <div *ngIf="autoCompleteControl.hasError(validation.type)">
            {{validation.message}}
          </div>    
        </mat-error>
  
      </mat-form-field>

    </div>
  </div>
  