<div class="container-fluid">
    <h1>Marcar Asistencia </h1>
  <hr />    

    <div class="example-container mat-elevation-z8">
    
      <mat-table [dataSource]="dataSource" matSort>
  
        <!-- Columna DNI -->
        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
            <mat-cell *matCellDef="let postulante" > {{postulante.dni | uppercase}} </mat-cell>
        </ng-container>
        
        <!-- Columna nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
          <mat-cell *matCellDef="let postulante"> {{postulante.nombre | uppercase}} </mat-cell>
        </ng-container>

        <!-- Columna Asistencia -->
        <ng-container matColumnDef="asistencia">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ASISTENCIA </mat-header-cell>
            <mat-cell *matCellDef="let alumno">
                <mat-checkbox [checked]="selection.isSelected(alumno)" (change)="marcarAsistencia(alumno)" *ngIf="this.examenubicacion.serellenoasistencia" disabled></mat-checkbox>
                <mat-checkbox [checked]="selection.isSelected(alumno)" (change)="marcarAsistencia(alumno)" *ngIf="!this.examenubicacion.serellenoasistencia" ></mat-checkbox>
            </mat-cell>
        </ng-container>       
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <hr />   
    <button type="button" [disabled]="cargando" (click)="save()"  *ngIf="!this.examenubicacion.serellenoasistencia" mat-button>Guardar</button>

  </div>