<div [formGroup]="formularioPadre">


  <label class="col-lg-12">Ubigeo</label>

  <div class="col-lg-4" 
    [formGroup]="formularioPadre.get('provincia').get('departamento')">
    <div class="form-group">
      <select class="form-control" id="departamento" (change)="listarProvinciaUnDepartamento($event)"
        formControlName="idDepartamento">
        <option value="">Seleccion Departamento</option>
        <option *ngFor="let departamento of departamentos" value="{{departamento.idDepartamento}}">
          {{departamento.nombre}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-lg-4" [formGroup]="formularioPadre.get('provincia')">
    <div class="form-group">
      <select class="form-control" (change)="listarDistritosDeUnaProvincia($event)" formControlName="idProvincia">
        <option value="">Seleccion Provincia</option>
        <option *ngFor="let provincia of provincias" value="{{provincia.idProvincia}}">{{provincia.nombreProvincia}}
        </option>
      </select>
    </div>
  </div>

  <div class=" col-lg-4" >
    <div class="form-group">
      <select id="idDistrito" name="idDistrito" class="form-control" formControlName="idDistrito">
        <option value="">Seleccion Distrito</option>
        <option *ngFor="let distrito of distritos" [ngValue]="distrito.idDistrito">{{distrito.nombreDistrito}}</option>
      </select>
      <div class=" text-danger" *ngIf="formularioPadre.controls['idDistrito'].errors?.required" >
        Debe elegir un distrito
      </div>
    </div>


  </div>

</div>