<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de administrativos
    <small>admnistrativos/activos</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>


<div class="content shadow-sm">
  
<!-- <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div> -->

    <!-- New Docente -->
    <!-- <div>
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" routerLink="/administrativo/add">Nuevo Administrativo</button>
        </div>
        <div class="input-group">
          <input (input)="search($event.target.value)" type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="btnGroupAddon2">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon2"><i class="fas fa-search active" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
      <br>
    </div> -->
  
  
    <mat-card class="box box-primary">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>
    
      <mat-table [dataSource]="dataSource" matSort>
    
    <!-- Columna nombre -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
      <mat-cell *matCellDef="let adminitrativo"> {{adminitrativo.nombre | uppercase}} </mat-cell>
    </ng-container>
  
  <!-- olumna Apellido paterno -->
  <ng-container matColumnDef="paterno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> A.Paterno </mat-header-cell>
      <mat-cell *matCellDef="let adminitrativo"> {{adminitrativo.paterno | uppercase}} </mat-cell>
    </ng-container>
  
     <!-- Columna Apellido materno -->
     <ng-container matColumnDef="materno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> A.Materno </mat-header-cell>
      <mat-cell *matCellDef="let adminitrativo" > {{adminitrativo.materno | uppercase}} </mat-cell>
    </ng-container>

    <!-- Columna Apellido materno -->
     <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
      <mat-cell *matCellDef="let adminitrativo" > {{adminitrativo.tipoAdministrativo | uppercase}} </mat-cell>
    </ng-container>
  
        <!-- Columna id -->
        <ng-container matColumnDef="dni">
          <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
          <mat-cell *matCellDef="let adminitrativo"> {{adminitrativo.dni }} </mat-cell>
        </ng-container>

           
      
    
        
        <!-- Columna Opciones -->
      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let administrativo" >

          <button mat-icon-button color="primary" aria-label="Editar Este Docente">
            <mat-icon laber [routerLink]="['update/', administrativo.id]" >edit</mat-icon>
          </button>

          <button mat-icon-button color="primary" aria-label="Mas informacion">
            <mat-icon laber>more_horiz</mat-icon>
          </button>
          
         <!-- <a routerLink="/docente/modify">Actualizar</a> -->
         <!--
          <button type="button" class="btn btn-primary" data-toggle="modal" (click)="abrirModal(p.idpedido)"
          data-target="#exampleModal">Mas info
          </button>
          --> 
        </mat-cell>
      </ng-container>
       
  
       
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-card>
  </div>
