<section class="content-header">
    <h1>
      Registrar
      <small>examen/ubicacion</small>
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
      <li class="active">yyyy</li>
    </ol> -->
  </section>
  
  <div class="content shadow-sm">
  
    <mat-card class="box box-primary">
  
    
        <form >
  
        
        <!-- 
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="docente">DOCENTE</label>
                <app-autocomplete-docente id="docente" [parentForm]="formExamenUbicacion.get('docente')">
                </app-autocomplete-docente>
              </div>
            </div>
          </div>
          -->

  
          <!-- <app-aula [parentform]="formExamenUbicacion.get('aula')"></app-aula> -->

          <app-autocomplete-alumno [parentForm]="formPostulacionExamenUbicacion.get('alumno')" ></app-autocomplete-alumno>

          <app-select-ex-ubicacion [parentForm]="formPostulacionExamenUbicacion.get('examenUbicacion')" ></app-select-ex-ubicacion>
  
  
  
  
          <div class="row">
            <div class="col-lg-2">
              <div class="form-group">
                <button mat-button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
              </div>
            </div>
          </div>
          
  
  
  
  
  
        </form>
  
     
   
  
    <!-- <button (click)="ex()">ver</button>
        <p>
          esInvalido: {{alumnoUniversidad.invalid}}
        </p>
        <pre>
              {{alumnoUniversidad.value | json}}
          </pre> -->
     <pre>
        {{ formPostulacionExamenUbicacion.value | json }}
    </pre> 
  
  </mat-card>
  
  
  </div>
  