<section class="content-header">
    <h1>
        Registrar
        <small>grupo/nuevo</small>
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
      <li class="active">yyyy</li>
    </ol> -->
</section>

<div class="content shadow-sm">
    <mat-card class="box box-primary">



        <form (submit)="submit(formGrupo.value)" [formGroup]="formGrupo">

            <div class=" row">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Año</label>
                        <input class="form-control" formControlName="anio" />
                        <div class="text-danger" *ngIf="formGrupo.controls['anio'].errors?.required">
                            Debe ingresar un año grupo
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Numero</label>
                        <input class="form-control" type="number" formControlName="numero" />
                        <div class="text-danger" *ngIf="formGrupo.controls['numero'].errors?.required">
                            Debe ingresar un numero grupo
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Fecha Inicio</label>
                        <input type="date" class="form-control" formControlName="fechaInicio" />
                        <div class="text-danger" *ngIf="formGrupo.controls['fechaInicio'].errors?.required">
                            Debe sellecionar una fecha
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Fecha Fin</label>
                        <input type="date" class="form-control" formControlName="fechaFinal" />
                        <div class="text-danger" *ngIf="formGrupo.controls['fechaFinal'].errors?.required">
                            Debe seleccionar una fecha
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" [formGroup]="formGrupo">
                        <label>Docente</label>
                        <app-combo-docente [formGroupDocente]="formGrupo.get('docente')"></app-combo-docente>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Modalidad</label>
                        <app-modalidad [inModalidades]="modalidades" (emmiterModalida)="onModalidadesSelect($event)">
                        </app-modalidad>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Idiomas</label>
                        <app-idioma [idiomas]="idiomas" (emitterIdioma)="onIdiomasSelect($event)"></app-idioma>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Nivel</label>
                        <app-nivel [inNiveles]="niveles" (emmiterNivel)="onNivelSelect($event)"></app-nivel>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Ciclo</label>
                        <app-ciclo [inCiclos]="ciclos" (eventEmmiter)="onCicloSelect($event)"></app-ciclo>
                    </div>
                </div>

            </div>




            <!-- <div class="form-row form-group">
            <div class="col">
                <label>Nivel</label>
                <app-nivel [formGroupNivel]="formGrupo.get('nivel')"></app-nivel>
            </div> -->

            <!-- <div class="col">
                <label>Ciclo</label>
                <app-ciclo [formGroupCiclo]="formGrupo.get('ciclo')"></app-ciclo>
            </div> -->
            <!-- </div> -->

            <!--Boton Modal-->
            <section>
                <div id="actions" class="py-4 mb-4 bg-ligth">
                    <div class="contaiiner">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#" class="btn btn-primary btn-block" data-toggle="modal"
                                    data-target="#agregarhorariomodal"></a>
                                Agregar Horario
                            </div>
                        </div>
                    </div>
                </div>


            </section>



            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <button mat-button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
                    </div>
                </div>
            </div>

        </form>

        <p>
            esInvalido: {{formGrupo.invalid}}
        </p>

        <pre>
        {{formGrupo.value | json}}
    </pre>
    </mat-card>
</div>

<!--agregar modal-->
<div class="modal fade" id="agregarhorariomodal">
    <div class="modal-dialog modl-lg">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Agregar Horario</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <app-horario (eventEmmiter)="onHorarioSelect($event)"></app-horario>

        </div>
    </div>
</div>