<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>MODALIDAD</label>
            <app-modalidad [inModalidades]="modalidades" [formModalidad]="formGroupHelper" (emmiterModalida)="onModalidadSelected($event)">
            </app-modalidad>
        </div>
    </div>
    <div class="col-lg-3">
        <div class=" form-group">
            <label>IDIOMA</label>
            <app-idioma [idiomas]="idiomas" [formGroupIdioma]="formGroupHelper" (emitterIdioma)="onIdiomaSelected($event)"></app-idioma>
        </div>
    </div>
    <div class="col-lg-3">
        <div class=" form-group">
            <label>NIVEL</label>
            <app-nivel
                [inNiveles]="niveles"
                [formGroupNivel]="formGroupHelper"
                (emmiterNivel)="onNivelSelected($event)"
            ></app-nivel>
        </div>
    </div>

    <div class="col-lg-3">
        <div class=" form-group">
            <label>CICLO</label>
            <app-ciclo
            [inCiclos]="ciclos"
            [formCiclos]="formGroupHelper"
            (eventEmmiter)="onCicloselected($event)"></app-ciclo>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>GRUPO</label>
            <mat-card fxFlex="33%">
                <mat-selection-list #gps (selectionChange)="onListSelect($event)"
                    style="flex-grow: 1;    overflow: auto;    min-height: 100px; max-height:230px">
                    <mat-list-option *ngFor="let g of grupos; index as i" [value]="g.idGrupo"
                        style="height:auto!important">

                        <div>
                            <h4> NUMERO: {{g.numero}} </h4>
                        </div>
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td colspan="3"><strong>HORARIO: &nbsp;</strong><span
                                            *ngFor="let h of g.horarios">{{h.dia}}: {{h.inicio}}-{{h.fin}}, </span></td>
                                </tr>
                                <tr>
                                    <td><strong>SALON:</strong> {{g.aula.numero}}</td>
                                    <td> &nbsp;-&nbsp;&nbsp;</td>
                                    <td><strong>DURACION:</strong> {{g.fechaInicio | date}} - {{g.fechaFinal |date}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><strong>DOCENTE: </strong>{{g.docente.persona.nombre}}
                                        {{g.docente.persona.apaterno}} {{g.docente.persona.amaterno}} <strong> &nbsp;
                                            &nbsp;DNI:
                                        </strong>{{g.docente.persona.dni}}</td>
                                </tr>
                            </table>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </mat-selection-list>
            </mat-card>


            <div class="text-danger" *ngIf="inFromGroup.get('idGrupo').errors?.required">
                Debe seleccionar un grupo
            </div>


        </div>
    </div>
</div>
