

  <div class="col-lg-4">
    <div class="form-group">
      <label>IDIOMA</label>
      <app-idioma  
      [idiomas]="idiomas" 
      [formGroupIdioma]="formgroupHelper"
      (emitterIdioma)="onIdiomaSelected($event)"></app-idioma>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="form-group">
      <label>NIVEL</label>
      <app-nivel 
      [inNiveles]="niveles" 
      [formGroupNivel]="formgroupHelper"
      (emmiterNivel)="onNivelSelected($event)"></app-nivel>
    </div>
  </div>

  <div class="col-lg-4" [formGroup]="parentForm">
    <div class="form-group">
      <label>EXAMEN DE UBICACION</label>
      <select class="form-control" formControlName="idExamenUbicacion">
        <option value="">Seleccione un Examen</option>
        <option *ngFor="let e of examenes" value="{{e.idExamenUbicacion}}">
          {{e.nivelIdioma.idioma.nombre | uppercase}} - {{e.nivelIdioma.nivel.nombre | uppercase}} :
          {{e.fecha | date}}-{{e.horaInicio}}
        </option>
      </select>

      <div class=" text-danger" *ngIf="parentForm.controls['idExamenUbicacion'].errors?.required">
        Debe seleccionar un examen de ubicacion
      </div>
    </div>
  </div>

