<div class="form-group" [formGroup]="parentform">

    <div class="row">

        <div class="col-lg-6">
            <div class="form-group">
                <label>PISO</label>
                <select class="form-control" (change)="listarAulasPorPiso($event)">
                    <option value="">Seleccion un piso</option>
                    <option *ngFor="let piso of pisos" value="{{piso}}">{{piso}}
                    </option>
                </select>
                <div class=" text-danger" *ngIf="parentform.controls['idAula'].errors?.required">
                    Debe elegir una aula
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="form-group">
                <label>AULA</label>
                <select class="form-control" formControlName="idAula">
                    <option value="">Seleccione una aula</option>
                    <option *ngFor="let aula of aulas" value="{{aula.idAula}}">{{aula.numero}}
                    </option>
                </select>

            </div>
        </div>


    </div>
</div>