/* To display a border for the input */
.mat-input-flex.mat-form-field-flex{
    border: 1px solid red;
 }
 /* To remove the default underline */
 .mat-input-underline.mat-form-field-underline {
    background: transparent;
 }
 /* To remove the underline ripple */
 .mat-input-ripple.mat-form-field-ripple{
    background-color: transparent; 
 }