<div class="container-fluid">
    <h1>Ingresar Puntaje </h1>
  <hr />    

    <div [formGroup]="form" class="example-container mat-elevation-z8">
    
      <mat-table [dataSource]="dataSource" matSort>
  
        <!-- Columna DNI -->
        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
            <mat-cell *matCellDef="let alumno" > {{alumno.dni | uppercase}} </mat-cell>
        </ng-container>
        
        <!-- Columna nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
          <mat-cell *matCellDef="let alumno"> {{alumno.nombre | uppercase}} </mat-cell>
        </ng-container>
  
        <!-- Columna puntaje-->     
        <ng-container matColumnDef="puntaje">
          <mat-header-cell *matHeaderCellDef mat-sort-header> PUNTAJE </mat-header-cell>
          <mat-cell *matCellDef="let alumno; let i = index">
            <mat-form-field>
              <input matInput type="number" name="puntaje" value="0" [formControlName]="'puntaje_'+i" >
            </mat-form-field>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <hr />   

    
    <div>{{  this.form.getRawValue() | json }}</div>
    <div>Es valido {{ this.form.valid }} </div>

    <button type="button" [disabled]="cargando || this.form.invalid" (click)="save()"  *ngIf="!this.examenubicacion.serellenopuntuacion" mat-button>Guardar</button>

  </div>