<div [formGroup]="formGroupCiclo">
    <select class="form-control"   formControlName="idCiclo" (change)="onselect($event)" >
      <option value=""  selected >Seleccione un Ciclo</option>
      <option *ngFor="let ciclo of ciclos" value="{{ciclo.idCiclo}}">
        {{ciclo.nombre}}
      </option>
    </select>

    <div class="text-danger" *ngIf="formGroupCiclo.controls['idCiclo'].errors?.required">
          Debe seleccionar una ciclo
    </div> 

</div>
