<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de docentes
    <small>docentes/activos</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>


<div class="content shadow-sm">
 

  
  

  <mat-card class="box box-primary">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- Columna id -->
      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let docente"> {{docente.dni }} </mat-cell>
      </ng-container>
  
      <!-- Columna nombre -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
        <mat-cell *matCellDef="let docente"> {{docente.nombre | uppercase}} </mat-cell>
      </ng-container>
  
      <!-- olumna Apellido paterno -->
      <ng-container matColumnDef="apaterno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> A.Paterno </mat-header-cell>
        <mat-cell *matCellDef="let docente"> {{docente.apaterno | uppercase}} </mat-cell>
      </ng-container>
  
      <!-- Columna Apellido materno -->
      <ng-container matColumnDef="amaterno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> A.Materno </mat-header-cell>
        <mat-cell *matCellDef="let docente" > {{docente.amaterno | uppercase}} </mat-cell>
      </ng-container>

      <!-- Columna Opciones -->
      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let docente" >

          <button mat-icon-button color="primary" aria-label="Editar Este Docente">
            <mat-icon laber [routerLink]="['/docente/', docente.id]" >edit</mat-icon>
          </button>

          <button mat-icon-button color="primary" aria-label="Mas informacion">
            <mat-icon laber>more_horiz</mat-icon>
          </button>
          
         <!-- <a routerLink="/docente/modify">Actualizar</a> -->
         <!--
          <button type="button" class="btn btn-primary" data-toggle="modal" (click)="abrirModal(p.idpedido)"
          data-target="#exampleModal">Mas info
          </button>
          --> 
        </mat-cell>
      </ng-container>
        
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card>
</div>

