<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Alumno Universitario
    <small>Actualizar</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol> -->

</section>

<div class="content">

  <div class="mb-5 p-4 bg-white shadow-sm">
    <mat-horizontal-stepper [linear]="false" #stepper class="box box-primary">
      <mat-step label="Datos Persona" [stepControl]="alumnoUniversidad.get('alumno').get('persona')">

        <form [formGroup]="alumnoUniversidad.get('alumno').get('persona')">
          <app-persona [parentForm]="alumnoUniversidad.get('alumno').get('persona')"></app-persona>
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step label="Datos Universidad" [stepControl]="alumnoUniversidad">
        <form [formGroup]="alumnoUniversidad" (submit)="submit(alumnoUniversidad.getRawValue())">

          <!-- <app-colegio [parentForm]="alumnoColegio.get('colegio')"></app-colegio> -->

          <!-- <div class="form-group">
              <label>NUMERO DE CARNET</label>
                <input  class="form-control"  formControlName="codigoAlumno"  maxlength="10">
                
                <div class=" text-danger" *ngIf="alumnoUniversidad.controls['codigoAlumno'].errors?.pattern">
                  El campo solo admite numeros
                </div>
          
                <div class=" text-danger" *ngIf="alumnoUniversidad.controls['codigoAlumno'].errors?.minlength">
                  Debe ser de {{alumnoUniversidad.controls['codigoAlumno'].errors?.minlength.requiredLength}}  numeros - cantidad actual: {{alumnoUniversidad.controls['numeroCarnet'].errors?.minlength.actualLength}}
                </div>
            
                <div class=" text-danger" *ngIf="alumnoUniversidad.controls['codigoAlumno'].errors?.maxlength">
                  Debe ser de {{alumnoUniversidad.controls['codigoAlumno'].errors?.maxlength.requiredLength}}  numeros - cantidad actual: {{alumnoUniversidad.controls['numeroCarnet'].errors?.maxlength.actualLength}}
                </div>
          
            </div> -->
            <app-escuela [formularioPadre]="alumnoUniversidad.get('escuela')" [registrando]="false"
            [formvalue]="alumnoUniversidad.get('escuela').value"></app-escuela>

          <div class="row">
            <div class="col-lg-12">

              <div class="col-lg-4">
                <div class="form-group">
                  <label>PLAN DE ESTUDIOS</label>
                  <input class="form-control" name="planDeEstudios" formControlName="planDeEstudios" maxlength="2" />
                  <div class=" text-danger" *ngIf="alumnoUniversidad.controls['planDeEstudios'].errors?.pattern">
                    El campo solo admite numeros
                  </div>
                  <div class=" text-danger" *ngIf="alumnoUniversidad.controls['planDeEstudios'].errors?.required">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label>CICLO</label>
                  <input class="form-control" name="ciclo" formControlName="ciclo" maxlength="2" />
                  <div class=" text-danger" *ngIf="alumnoUniversidad.controls['ciclo'].errors?.required">
                    Este campo es obligatorio
                  </div>
                  <div class=" text-danger" *ngIf="alumnoUniversidad.controls['ciclo'].errors?.pattern">
                    El campo solo admite numeros
                  </div>
                </div>
              </div>


            </div>

          </div>

          <!-- ///////////////////////////////////// -->

         

          <div class="col-md-12">
            <div class="form-group">
              <label>CONDICION</label>
              <div>
                <label class="radio-inline" id="rmale">
                  <input type="radio" class="custom-control-input" id="estudiante" value="estudiante" name="condicion"
                    formControlName="condicion" />ESTUDIANTE
                </label>
                <label class="radio-inline">
                  <input type="radio" class="custom-control-input" id="egresado" value="egresado" name="condicion"
                    formControlName="condicion" />EGRESADO
                </label>

                <div class="text-danger" *ngIf="alumnoUniversidad.controls['condicion'].errors?.required">
                  Debe seleccionar una opcion
                </div>
              </div>

            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>Volver</button>

            <button mat-button type="submit" [disabled]="alumnoUniversidad.invalid || cargando"
              matStepperNext>Enviar</button>

          </div>
        </form>
      </mat-step>


      <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->


      <!-- Object.keys(this.AddCustomerForm.controls)
    .forEach( control => {
        //check each control here
        // if the child is a formGroup or a formArray
        // you may cast it and check it's subcontrols too
     }) -->


    </mat-horizontal-stepper>
    <button (click)="ex()">ver</button>
    <p>
      esInvalido: {{alumnoUniversidad.invalid}}
    </p>
    <pre>
            {{alumnoUniversidad.value | json}}
        </pre>
  </div>
</div>