<div class="row">
<div class="col-lg-12" [formGroup]="parentForm">
  <div class="form-group">
      <label for="montoxHora">Monto Por hora</label>
      <input 
        id="montoXhora"
        formControlName="montoXhora"
        type="number" 
        class="form-control" 
        placeholder="Monto por hora"
        required
      />
      <div class=" text-danger" *ngIf="parentForm.controls['montoXhora'].errors?.required">
        Este campo es obligatorio
      </div>
    </div>
</div>
</div>
