<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pagos
        <small>Registrar</small>
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol> -->
</section>

<div class="content  shadow-sm">

    <mat-card class="box box-primary">

        <div class="form-group">
            <app-autocomplete-alumno [parentForm]="formPago.get('alumno')"></app-autocomplete-alumno>
        </div>

        <div class="form-group">
            <label>AGREGAR UN PAGO</label>
            <mat-card>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Tipo de pago</label>

                            <select class="form-control" (change)="ontpselected($event)">
                                <option value="">Seleccione un tipo de pago</option>
                                <option *ngFor="let t of tiposPago" [value]="t |json"> S/. {{t.precio}} -
                                    TUPA:{{t.tupa.nombre}} - {{t.conceptoPago.conceptoPago}}
                                </option>
                            </select>
                            <div class=" text-danger"
                                *ngIf="formDetPago.get('tipoPago').get('idTipoPago').errors?.required">
                                Debe seleccionar un tipo de pago
                            </div>

                        </div>

                        <!-- <app-tipopago [formTipoPago]="formDetPago.get('tipoPago')" [tipospago]="tiposPago"></app-tipopago> -->
                    </div>
                </div>

                <div class="form-group">
                    <app-detallepago [formdetallepago]="formDetPago"></app-detallepago>
                    <button [disabled]="formDetPago.invalid" (click)="agregarDetallePago()" mat-button>Agregar
                        +</button>

                </div>

            </mat-card>
        </div>

        <div class="form-group">
            <label>PAGOS A REGISTRAR</label>
            <div class="example-container mat-elevation-z1">
                <table mat-table [dataSource]="this.formPago.get('detalles').value">

                    <ng-container matColumnDef="numeroRecibo">
                        <th mat-header-cell *matHeaderCellDef> No. Recibo </th>
                        <td mat-cell *matCellDef="let element"> {{element.numeroRecibo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="monto">
                        <th mat-header-cell *matHeaderCellDef> Monto </th>
                        <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
                    </ng-container>


                    <ng-container matColumnDef="fechaRecibo">
                        <th mat-header-cell *matHeaderCellDef> F.Recibo </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaRecibo}} </td>
                    </ng-container>


                    <ng-container matColumnDef="conceptoPago">
                        <th mat-header-cell *matHeaderCellDef> Concepto </th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoPago.conceptoPago.conceptoPago}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>


        </div>

        <button mat-button [disabled]="this.formPago.invalid || detallesasArraylenght().length <= 0"
            (click)="registrar()">Registrar</button>


        <!-- <pre>
    {{formDetPago.value|json}}
    </pre> -->
        <!-- <p>
            esInvalido: {{formDetPago.invalid}}
        </p> -->
    </mat-card>
</div>