<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de usuario
    <small>alumno/general</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>


  <div class="content shadow-sm">

  


<mat-card class="box box-primary">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{usuario.nombre | uppercase}} </mat-cell>
    </ng-container>



    <!-- Columna Apellido materno -->
    <ng-container matColumnDef="materno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> A.Materno </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{usuario.materno | uppercase}} </mat-cell>
    </ng-container>

    <!-- olumna Apellido paterno -->
    <ng-container matColumnDef="paterno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> A.Paterno </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{usuario.paterno | uppercase}} </mat-cell>
    </ng-container>

    <!-- Columna DNI -->
    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{usuario.dni | uppercase}} </mat-cell>
    </ng-container>

    <!-- Columna Ttpo usario -->
    <ng-container matColumnDef="TiposUsuario">
      <mat-header-cell *matHeaderCellDef mat-sort-header> TipoUsuario </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{usuario.TiposUsuario | uppercase}} </mat-cell>
    </ng-container>


    <!-- Columna username -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{usuario.usuario | uppercase}} </mat-cell>
    </ng-container>

    <!-- Columna Ttpo alumno -->
    <ng-container matColumnDef="tipoAlumno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Alumno </mat-header-cell>
      <mat-cell *matCellDef="let usuario"> {{usuario.tipoAlumno | uppercase}} </mat-cell>
    </ng-container>






    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Cambiar Constraseña </mat-header-cell>
      <mat-cell *matCellDef="let row">

        <button mat-icon-button color="primary"
          (click)="openDialog(row.idUsuario,row.nombre+' '+row.paterno+' '+row.materno)"
          aria-label="Example icon-button with a heart icon">

          <mat-icon laber>edit</mat-icon>
        </button>


      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;">

    </mat-row>

  </mat-table>


  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>
</div>