<div [formGroup]="formGroupDocente">
    <select class="form-control"   formControlName="idDocente" (change)="onselect($event)" >
      <option value=""  selected >Seleccione un Docente</option>
      <option *ngFor="let docente of docentes" value="{{docente.id}}">
        {{docente.nombre}}
      </option>
    </select>

        <div class="text-danger" *ngIf="formGroupDocente.get('idDocente').errors?.required">
          Debe seleccionar una docente
        </div>
</div>