
  <header class="main-header">
    <!-- Logo -->
    <a  [routerLink]="['/']" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>U</b>NJFSC</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Idiomas </b>UNJFSC</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../../assets/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{user.username}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="../../.../../../assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  {{user.username}} - <b>{{user.tipoUsuario}}</b>
                  <!-- <small>Member since Nov. 2012</small> -->
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a [routerLink]="['/grupo']" >Grupos</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a [routerLink]="['/exubicacion']" >Examen Ubicacion</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Configuracion</a>
                </div>
                <div class="pull-right">
                  <a (click)="logout()" class="btn btn-default btn-flat">Cerrar Session</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a [routerLink]="['/usuario/configuracion']" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">{{appname}}</a>
    <button class="navbar-toggler navbar navbar-dark bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        

        <li class="nav-item dropdown" *ngIf="this.auth.currentUserValue.tipoUsuario=='administrativo'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alumno
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/alumno']">Mostrar Alumnos</a>
            <a class="dropdown-item" [routerLink]="['/alumno/colegio']">Registrar Alumno Colegio</a>
            <a class="dropdown-item" [routerLink]="['/alumno/universidad']">Registrar Alumno Universidad</a>
            <a class="dropdown-item" [routerLink]="['/alumno/universidad']">Registrar Alumno Universidad</a>
          
          </div>
        </li>


        <li class="nav-item dropdown" *ngIf="this.auth.currentUserValue.tipoUsuario=='administrativo'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Docente
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/docente']">Mostrar Docente</a>
            <a class="dropdown-item" [routerLink]="['docente/add']">Registrar Docente</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="this.auth.currentUserValue.tipoUsuario=='administrativo'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administrativo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/administrativo']">Mostrar Administrativo</a>
            <a class="dropdown-item" [routerLink]="['/administrativo/add']">Registrar Administativo</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="this.auth.currentUserValue.tipoUsuario=='administrativo'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grupo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/grupo']">Listar</a>
            <a class="dropdown-item" [routerLink]="['/grupo']">Grupo Normal</a>
            <a class="dropdown-item" [routerLink]="['/grupo']">Grupo Kids</a>
            <a class="dropdown-item" [routerLink]="['/grupo/add']">add</a>
          </div>
        </li>


        <li class="nav-item" *ngIf="this.auth.currentUserValue.tipoUsuario=='administrativo'">
          <a class="nav-link" [routerLink]="['/usuario']">Usuarios</a>
        </li>

        
        <li class="nav-item dropdown" *ngIf="this.auth.currentUserValue.tipoUsuario=='administrativo'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Exa Ubicacion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/exubicacion/add']">Nuevo</a>
            <a class="dropdown-item" [routerLink]="['/exubicacion/']">Listar</a>
          </div>
        </li>


        <li class="nav-item dropdown" *ngIf="this.auth.currentUserValue.tipoUsuario=='docente'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mis Opciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/exubicacion/']">Examen Ubicacion</a>
            <a class="dropdown-item" [routerLink]="['/grupo/']">Grupo</a>
          </div>
        </li>

        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{this.auth.currentUserValue.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/usuario/configuracion']">Configuracion</a>
            <a class="dropdown-item" (click)="this.auth.logout()">Salir</a>
          </div>
        </li>

      </ul>

    </div>
    
  </nav>


 -->
