
<section class="content-header">
  <h1>
    Lista de examen
    <small>ubicacion/activos</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>

<div class="content shadow-sm">
   

    
    <mat-card class=" box box-primary">
      
      <div id="contenedorAzul" class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>
    
      <mat-table [dataSource]="dataSource" matSort>
    
        <!-- Columna id -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let exaubi"> {{exaubi.id }} </mat-cell>
        </ng-container>
    
        <!-- Columna numero -->
        <ng-container matColumnDef="numero">
          <mat-header-cell *matHeaderCellDef mat-sort-header> NUMERO </mat-header-cell>
          <mat-cell *matCellDef="let exaubi"> {{exaubi.numero}} </mat-cell>
        </ng-container>
    
        <!-- Columna docente -->
        <ng-container matColumnDef="docente">
          <mat-header-cell *matHeaderCellDef mat-sort-header> DOCENTE </mat-header-cell>
          <mat-cell *matCellDef="let exaubi"> {{exaubi.docente}} </mat-cell>
        </ng-container>

        <!-- olumna idioma -->
        <ng-container matColumnDef="idioma">
            <mat-header-cell *matHeaderCellDef mat-sort-header> IDIOMA </mat-header-cell>
            <mat-cell *matCellDef="let exaubi"> {{exaubi.idioma}} </mat-cell>
          </ng-container>
    
        <!-- Columna Opciones -->
        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let examenubi" >

            <button mat-icon-button color="primary" matTooltip="Ver lista de Alumnos">
                <mat-icon laber [routerLink]="[examenubi.id,'postulantes']">visibility</mat-icon>
            </button>

            <button mat-icon-button color="primary" matTooltip="Marcar Asistencia">
              <mat-icon laber [routerLink]="[examenubi.id, 'asistencia']">access_time</mat-icon>
            </button>
  
            <button mat-icon-button color="primary" matTooltip="Colocar Puntuacion">
              <mat-icon laber [routerLink]="[examenubi.id,'puntaje']">note_add</mat-icon>
            </button>
            
          </mat-cell>
        </ng-container>
          
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-card>
  </div>
  
  