<div [formGroup]="formGroupModalidad">
  
  <select class="form-control"   formControlName="idModalidad" (change)="onselect($event)" >
      <option value=""  selected >Seleccione una modalidad</option>
      <option *ngFor="let modalidad of modalidades" value="{{modalidad.idModalidad}}">
        {{modalidad.nombre}}
      </option>
    </select>

    <div class="text-danger" *ngIf="formGroupModalidad.controls['idModalidad'].errors?.required"> 
          Debe seleccionar una modalidad
    </div>
  
  </div> 