﻿<div class="hold-transition login-page">
    <!-- <div style="background-color: aqua;"> -->
    <div class="login-box">
        <div class="login-logo">
            <b>IDIOMAS </b>UNJFSC
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body" [class.mat-elevation-z8]="true">
            <p class="login-box-msg"><b>INICIAR SESIÓN</b></p>

            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" required placeholder="Usuario" formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <div *ngIf="submitted && f.username.errors" class=" text-danger">
                        <div *ngIf="f.username.errors.required">El nombre de usuario es requerido</div>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" formControlName="password" required class="form-control"
                        placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div *ngIf="submitted && f.password.errors" class=" text-danger">
                        <div *ngIf="f.password.errors.required">La contrasena es requerida</div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false"
                                    style="position: relative;"><input type="checkbox"
                                        style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
                                        class="iCheck-helper"
                                        style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                </div> Remember Me
                            </label>
                        </div>
                    </div> -->
                    <!-- /.col -->
                    <div *ngIf="loading===true" class="col-xs-12 text-center" >
                        <div class="form-group ">
                            <mat-spinner diameter="40" style="margin:0 auto;" ></mat-spinner>
                            <p>Iniciando Sesion...</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- O -</p>
                <!-- <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> 
                    Iniciar Usando Facebook</a> -->
                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i>
                    Iniciar Con Su Cuenta De Google</a>
            </div>
            <!-- /.social-auth-links -->

            <a href="#">Olvidé mi contraseña</a><br>

        </div>
        <!-- /.login-box-body -->
    </div>
</div>
<!-- /.login-box -->