/* body {
    margin: 0;
    padding: 0;
    background: url(img/bg.jpg) no-repeat center top;
    background-size:100% 100%;
    font-family: sans-serif;
    height: 100vh;
  }

  .logo {
    width: 100%;
    overflow: hidden;
    background: black; 
  }

  .wrapper 
  {
    width: 100%;
    max-width: 10000px;
    margin: auto;
    overflow: hidden;
    
  }

  header .logo {
    color: coral;
    font-size: 50px;
    line-height: 150px;
    float: left;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 5px 9px 3px blue;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
   */
   /* body {
    background-image: url("../../../assets/img/unjfsc.jpg");
    background-repeat: no-repeat;
    background-size: cover  ;
 
    line-height: 2;
  } */

     body {
    background-color: #d2d6de!important;
  }
 
  :host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #3c8dbc;
}
  /* body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
} */



   