<div class="container">
<form  [formGroup]="configuracionForm">

  <div class="form-group">
    <label for="password_now">Contraseña</label>
    <input type="password" formControlName="nowpassword" class="form-control" id="nowpassword" aria-describedby="passwordHelp">
    <small id="passwordHelp" class="form-text text-muted">Contraseña Actual</small>
    
    <div *ngIf="configuracionForm.controls['nowpassword'].errors" class="text-danger">
      <div *ngIf="configuracionForm.controls['nowpassword'].errors.required">Contraseña actual es requerida</div>
    </div>
  </div>
  

  <div class="form-group">
    <label for="newpassword">Nueva Contraseña</label>
    <input type="password" formControlName="newpassword" class="form-control" id="newpassword" aria-describedby="emailHelp">

    <div *ngIf="form().controls['newpassword'].errors" class="text-danger">
      <div *ngIf="form().controls['newpassword'].errors.required">Nueva contraseña es requerida</div>
    </div>
  </div>

  <div class="form-group">
    <label for="repeat_newpassword">Confirmar Nueva Contraseña</label>
    <input type="password" formControlName="repeat_newpassword" class="form-control" id="repeat_newpassword">

    <div *ngIf="form().controls['repeat_newpassword'].errors" class="text-danger">
      <div *ngIf="form().controls['repeat_newpassword'].errors.required">Confirmacion de nueva contraseña es requerida</div>
    </div>
  </div>

  <button type="button" (click)="submit()"  [disabled]="form().invalid" class="btn btn-primary">Guardar</button>

</form>
</div>