<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Usuarios
    <small>Mostrar todos</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>
<div class="content  shadow-sm">
  <mat-card class="box box-primary">
    <div id="contenedorAzul" class="example-header">
      <mat-form-field>
        <mat-label>Seleccione una opcion</mat-label>
        <mat-select [(value)]="selected" #s (selectionChange)="seleccionCombo(s.value)">
          <!-- <mat-option>None</mat-option> -->
          <mat-option value="alumnos">Alumnos</mat-option>
          <mat-option value="docente">Docente</mat-option>
          <mat-option value="administrativo">Administrativo</mat-option>
        </mat-select>
      </mat-form-field>

      <app-listar-usuario-administrativo *ngIf="selected=='administrativo'"></app-listar-usuario-administrativo>
      <app-listar-usuario-docente *ngIf="selected=='docente'"></app-listar-usuario-docente>
      <app-listar-usuario-alumno *ngIf="selected=='alumnos'"></app-listar-usuario-alumno>

    </div>
  </mat-card>
</div>