<form [formGroup]="alumnoUniversitario">


    <!-- ///////////////////////////////////// -->

    <div class="row">
        <div class="form-group">
            <app-escuela [formularioPadre]="alumnoUniversitario.get('escuela')"
                [formvalue]="alumnoUniversitario.get('escuela').value"></app-escuela>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6" >
            <div class="form-group">
                <label>PLAN DE ESTUDIOS</label>
                <input class="form-control" name="planDeEstudios" formControlName="planDeEstudios" maxlength="2" />
                <div class=" text-danger" *ngIf="alumnoUniversitario.controls['planDeEstudios'].errors?.pattern">
                    El campo solo admite numeros
                </div>

                <div class=" text-danger" *ngIf="alumnoUniversitario.controls['planDeEstudios'].errors?.required">
                    Este campo es obligatorio
                </div>
            </div>
        </div>


        <div class="col-lg-6" >
            <div class="form-group">
                <label>CICLO</label>
                <input class="form-control" name="ciclo" formControlName="ciclo" maxlength="2" />

                <div class=" text-danger" *ngIf="alumnoUniversitario.controls['ciclo'].errors?.required">
                    Este campo es obligatorio
                </div>

                <div class=" text-danger" *ngIf="alumnoUniversitario.controls['ciclo'].errors?.pattern">
                    El campo solo admite numeros
                </div>

            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>CONDICION</label>
                <div>
                    <label class="radio-inline" id="rmale">
                        <input type="radio" class="custom-control-input" id="estudiante" value="estudiante"
                            name="condicion" formControlName="condicion" />ESTUDIANTE
                    </label>
                    <label class="radio-inline">
                        <input type="radio" class="custom-control-input" id="egresado" value="egresado" name="condicion"
                            formControlName="condicion" />EGRESADO
                    </label>

                    <div class="text-danger" *ngIf="alumnoUniversitario.controls['condicion'].errors?.required">
                        Debe seleccionar una opcion
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>