<div class="row">
  <div class="col-lg-12" [formGroup]="parentForm">
    <div class="form-group">
      <label for="tipoAdministrativo">Tipo Administrativo</label>
      <input id="tipoAdministrativo" name="tipoAdministrativo" type="text" class="form-control"
        placeholder="Tipo administrativo" formControlName="tipoAdministrativo" />
    </div>
  </div>
</div>