<section class="content-header">
  <h1>
      Registrar
      <small>nuevo/administrativo</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>

<div class="content shadow-sm">
    <mat-card class="box box-primary">
      
      <div id="registration">
          <form (ngSubmit)="submit(administrativoForm.getRawValue())">
  
             <mat-horizontal-stepper #stepper linear>
  
              <mat-step label="Persona" [stepControl]="administrativoForm.get('persona')">
                <p>Datos personales</p>
                <div>
                  <app-persona [parentForm]="administrativoForm.get('persona')"></app-persona>
                  <button type="button" mat-button matStepperNext>Siguiente</button>
                </div>
              </mat-step>
  
              <mat-step label="Administrativo" [stepControl]="administrativoForm">
                <div>
                  <app-administrativo [parentForm]="administrativoForm"></app-administrativo>
                  <button type="button" mat-button matStepperPrevious>Anterior</button>
                  <button type="submit" mat-button>Enviar</button>
                </div>
              </mat-step>
  
            </mat-horizontal-stepper>
          </form>
  
          <pre>
            {{administrativoForm.value | json}}
        </pre>
          
      </div>
    </mat-card>
  </div>

