
<div [formGroup]="parentForm">

<select class="form-control" name="idColegio"  formControlName="idColegio">
  <option value="">Seleccione un colegio</option>
  <option *ngFor="let colegio of colegios" value='{{colegio.idColegio}}'>{{colegio.nombreColegio}}</option>
</select>

<div class=" text-danger" *ngIf="parentForm.controls['idColegio'].errors?.required" >
  Debe elegir un colegio
</div>

</div>



