<div [formGroup]="parentForm">



  <div class="row">

    <div class="col-lg-6">


      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input class="form-control" id="nombre" formControlName="nombre" />

        <div class=" text-danger" *ngIf="parentForm.controls['nombre'].errors?.pattern">
          El campo solo admite letras
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['nombre'].errors?.required">
          Este campo es obligatorio
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['nombre'].errors?.soloespaciosenblanco">
          No se admiten solo espacios en blanco
        </div>
      </div>


    </div>
    <!-- ///////////////////////////////////// -->

    <div class="col-lg-6">
      <div class="form-group">
        <label>Apellido Paterno</label>
        <input class="form-control" name="apaterno" formControlName="apaterno" />

        <div class=" text-danger" *ngIf="parentForm.controls['apaterno'].errors?.pattern">
          El campo solo admite letras
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['apaterno'].errors?.required">
          Este campo es obligatorio
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['apaterno'].errors?.soloespaciosenblanco">
          No se admiten solo espacios en blanco
        </div>
      </div>
    </div>
  </div>

  <!-- ///////////////////////////////////// -->

  <div class="row">

    <div class="col-lg-6">

      <div class="form-group">
        <label>Apellido Materno</label>
        <input class="form-control" name="amaterno" formControlName="amaterno" />

        <div class=" text-danger" *ngIf="parentForm.controls['amaterno'].errors?.pattern">
          El campo solo admite letras
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['amaterno'].errors?.required">
          Este campo es obligatorio
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['amaterno'].errors?.soloespaciosenblanco">
          No se admiten solo espacios en amaterno
        </div>
      </div>
    </div>
    <!-- ///////////////////////////////////// -->

    <div class="col-lg-6">
      <div class="form-group">
        <label>Dni</label>
        <input maxlength="8" class="form-control" name="dni" formControlName="dni" />

        <div class=" text-danger" *ngIf="parentForm.controls['dni'].errors?.pattern">
          El campo solo admite numeros
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['dni'].errors?.required">
          Este campo es obligatorio
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['dni'].pending">
          Verificando existencia del DNI en la base de datos
        </div>


        <div class=" text-danger" *ngIf="parentForm.get('dni').errors?.existe">
          Ya existe una persona registrada con este DNI
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['dni'].errors?.minlength">
          Debe ser de {{parentForm.controls['dni'].errors?.minlength.requiredLength}} numeros - cantidad actual:
          {{parentForm.controls['dni'].errors?.minlength.actualLength}}
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['dni'].errors?.maxlength">
          Debe ser de {{parentForm.controls['dni'].errors?.maxlength.requiredLength}} numeros - cantidad actual:
          {{parentForm.controls['dni'].errors?.maxlength.actualLength}}
        </div>

      </div>
    </div>
  </div>

  <!-- ///////////////////////////////////// -->
  <div class="row">

    <div class="col-lg-6">
      <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="date" class="form-control" name="fechaNacimimento" formControlName="fechaNacimimento"
          [value]="parentForm.get('fechaNacimimento').value | date:'yyyy-MM-dd'" />

        <div class="text-danger" *ngIf="parentForm.controls['fechaNacimimento'].errors?.required">
          Este campo es obligatorio
        </div>
      </div>
    </div>
    <!-- ///////////////////////////////////// -->
    <div class="col-lg-6">
      <div class="form-group">
        <label>Procedencia</label>
        <input class="form-control" name="procedencia" formControlName="procedencia" />

        <div class=" text-danger" *ngIf="parentForm.controls['procedencia'].errors?.required">
          Este campo es obligatorio
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['procedencia'].errors?.soloespaciosenblanco">
          No se admiten solo espacios en blanco
        </div>

      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////// -->

  <div class="row">
    <div class="form-group">
        
        <app-geoubicacion [formularioPadreValue]="parentForm.get('distrito').value"
          [formularioPadre]="parentForm.get('distrito')"></app-geoubicacion>
    </div>
  </div>



  <div class="row">



    <div class="col-md-12">
      <div class="form-group">
        <label>Sexo</label>
        <div>
          <label class="radio-inline" id="rmale">
            <input type="radio" class="custom-control-input" id="male" value="M" name="sexo"
              formControlName="sexo" />MASCULINO
          </label>
          <label class="radio-inline">
            <input type="radio" class="custom-control-input" id="female" value="F" name="sexo"
              formControlName="sexo" />FEMENINO
          </label>

          <div class="text-danger" *ngIf="parentForm.controls['sexo'].errors?.required">
            Este campo es obligatorio
          </div>
        </div>

      </div>
    </div>

  </div>



  <!-- ///////////////////////////////////// -->
  <div class="row">



    <!-- ///////////////////////////////////// -->
    <div class="col-lg-6">

      <div class="form-group">
        <label>Telefono</label>
        <input class="form-control" name="telefono" formControlName="telefono" maxlength="7" />

        <div class=" text-danger" *ngIf="parentForm.controls['telefono'].errors?.pattern">
          El campo solo admite numeros
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['telefono'].errors?.minlength">
          Debe ser de {{parentForm.controls['telefono'].errors?.minlength.requiredLength}} numeros - cantidad actual:
          {{parentForm.controls['telefono'].errors?.minlength.actualLength}}
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['telefono'].errors?.maxlength">
          Debe ser de {{parentForm.controls['telefono'].errors?.maxlength.requiredLength}} numeros - cantidad actual:
          {{parentForm.controls['telefono'].errors?.maxlength.actualLength}}
        </div>

      </div>
    </div>




    <div class="col-lg-6">
      <div class="form-group">
        <label>Celular</label>
        <input class="form-control" name="celular" formControlName="celular" maxlength="9" />

        <div class=" text-danger" *ngIf="parentForm.controls['celular'].errors?.pattern">
          El campo solo admite numeros
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['celular'].errors?.minlength">
          Debe ser de {{parentForm.controls['celular'].errors?.minlength.requiredLength}} numeros - cantidad actual:
          {{parentForm.controls['celular'].errors?.minlength.actualLength}}
        </div>

        <div class=" text-danger" *ngIf="parentForm.controls['celular'].errors?.maxlength">
          Debe ser de {{parentForm.controls['celular'].errors?.maxlength.requiredLength}} numeros - cantidad actual:
          {{parentForm.controls['celular'].errors?.maxlength.actualLength}}
        </div>
      </div>
    </div>
    <!-- ///////////////////////////////////// -->

  </div>
  <!-- ///////////////////////////////////// -->
  <div class="row">


    <div class="col-lg-12">
      <div class="form-group">
        <label>Correo</label>
        <input class="form-control" name="correoElectronico" formControlName="correoElectronico" />

        <div class=" text-danger" *ngIf="parentForm.controls['correoElectronico'].errors?.email">
          El formato de correo no es valido
        </div>
      </div>
    </div>
    <!-- 
  <div class="col">
    <label>FOTO</label>
    <div class="custom-file">
      <input  type="file" class="custom-file-input" id="customFileLang"  name="foto" formControlName="foto" #fileInput (change)="preUpload($event)" lang="es">
      <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
      <label class="custome-file-label" style="margin-left: 4px;" for="customFileLang" *ngIf=isFileChosen>{{fileName}}</label>
    </div>
  
  </div> -->
  </div>
</div>