<section class="content-header">
  <h1>
      Registrar
      <small>nuevo/docente</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>


<div class="content shadow-sm">
  <mat-card class="box box-primary">
    
    <div id="registration">
        <form  (ngSubmit)="submit(docenteForm.getRawValue())">
          
          <mat-horizontal-stepper #stepper linear>
             
            <mat-step label="Persona" [stepControl]="docenteForm.get('persona')">
              <p>Datos personales</p>
              <div>
                <app-persona [parentForm]="docenteForm.get('persona')"></app-persona>
                <button type="button" mat-button matStepperNext >Siguiente</button>
              </div>
            </mat-step>

            <mat-step label="Docente" [stepControl]="docenteForm">
              <p>Datos Docentes</p>
              <div>
                <app-docente [parentForm]="docenteForm"></app-docente>
                <button type="button" mat-button matStepperPrevious class="btn btn-primary btn-lg btn-block">Anterior </button>
                <button type="submit" [disabled]="docenteForm.invalid || cargando" mat-button class="btn btn-primary btn-lg btn-block">Guardar</button>
              </div>
            </mat-step>


          </mat-horizontal-stepper>
        </form>  

        <p>
          {{docenteForm.valid}}
        </p>
        <pre>
          {{docenteForm.getRawValue() | json}}
      </pre>
    </div>
  </mat-card>
</div>