<div class="container">
    <div class="mb-5 p-4 bg-white shadow-sm">
      <h3>Actualizar Docente</h3>
      <div id="registration">
          <form (ngSubmit)="registrar()">
             <mat-horizontal-stepper #stepper linear>
               
              <mat-step label="Persona" [stepControl]="docenteForm.get('persona')">
                <p>Datos personales</p>
                <div>
                  <app-persona [parentForm]="docenteForm.get('persona')"></app-persona>
                  <button type="button" mat-button matStepperNext>Siguiente</button>
                </div>
              </mat-step>
  
              <mat-step label="Docente" [stepControl]="docenteForm">
                <p>Datos Docentes</p>
                <div>
                  <app-docente [parentForm]="docenteForm"></app-docente>
                  <button type="button" mat-button matStepperPrevious>Anterior</button>
                  <button type="submit" mat-button>Guardar</button>
                </div>
              </mat-step>
  
              <mat-step label="Finalizado">
                <div id="my-finalizado" #myFinalizado> 
                  <label>Se registro el docente, ver lista de <a [routerLink]="['/docente']">docentes</a> </label>
                </div>
                <div>
                  <button type="button" mat-button matStepperPrevious>Anterior</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </form>  
      </div>
    </div>
  </div>