<form [formGroup]="alumnoColegio">


  <div class="col-lg-12">
    <div class="form-group">
      <label>COLEGIO</label>
      <app-colegio [parentForm]="alumnoColegio.get('colegio')"></app-colegio>

    </div>
  </div>
  
  <div class="col-lg-12">
    <div class="form-group">
      <label>NIVEL</label>
      <select class="form-control" formControlName="nivel" (change)="listargrados($event)">
        <option value="">Seleccione un nivel</option>
        <option value="primario">PRIMARIO</option>
        <option value="secundario">SECUNDARIO</option>
      </select>

      <div class=" text-danger" *ngIf="alumnoColegio.controls['nivel'].errors?.required">
        Debe seleccionar un nivel
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="form-group">
      <label>GRADO</label>
      <select class="form-control" formControlName="grado">
        <option value="">Seleccione un grado</option>
        <option *ngFor="let grado of grados" value="{{grado}}">{{grado}}</option>

      </select>

      <div class=" text-danger" *ngIf="alumnoColegio.controls['grado'].errors?.required">
        Debe seleccionar un grado
      </div>
    </div>
  </div>

</form>