/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  } */
  
  /* .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  } */
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  /* .mat-table {
    overflow: auto;
    max-height: 500px;
  } */


 
.mat-header-cell {
  text-align: center!important;
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}


