<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de grupos
    <small>regulares/activos</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> xxxx</a></li>
    <li class="active">yyyy</li>
  </ol> -->
</section>

<div class="content shadow-sm">
    
    <!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field> -->
    
  
    <mat-card class="box box-primary">

      <!-- <div id="contenedorAzul" class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>  -->
      
    
    
    
      <mat-table [dataSource]="dataSource" matSort>
    
        <!-- Columna id -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let grupo"> {{grupo.id }} </mat-cell>
        </ng-container>
    
        <!-- Columna nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let grupo"> {{grupo.nombre}} </mat-cell>
        </ng-container>

        <!--Columna Duracion-->
        <ng-container matColumnDef="duracion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Duracion </mat-header-cell>
          <mat-cell *matCellDef="let grupo"> {{grupo.fechaInicio|date}} - {{grupo.fechaFinal|date}} </mat-cell>
        </ng-container>
       
    
        <!-- olumna ciclo -->
        <ng-container matColumnDef="detalle">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </mat-header-cell>
          <mat-cell *matCellDef="let grupo"> {{grupo.detalle}} </mat-cell>
        </ng-container>

         <!-- Columna Docente -->
         <ng-container matColumnDef="docente">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Docente </mat-header-cell>
          <mat-cell *matCellDef="let grupo"> {{grupo.docente}} </mat-cell>
        </ng-container>
    
        <!-- Columna Opciones -->
        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let grupo" >
  
            <button mat-icon-button color="primary" aria-label="Ver">
                <mat-icon laber [routerLink]="['/grupo/', grupo.id]">visibility</mat-icon>
            </button>

            <button mat-icon-button color="primary" aria-label="Editar Este Docente">
              <mat-icon laber [routerLink]="['/grupo/', grupo.id]" >edit</mat-icon>
            </button>
  
            <button mat-icon-button color="primary" aria-label="Mas informacion">
              <mat-icon laber>more_horiz</mat-icon>
            </button>
            
           <!-- <a routerLink="/docente/modify">Actualizar</a> -->
           <!--
            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="abrirModal(p.idpedido)"
            data-target="#exampleModal">Mas info
            </button>
            --> 
          </mat-cell>
        </ng-container>
          
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-card>
  </div>
  
  